.font1 {
    font-family: fantasy;
    color: rgb(142, 142, 4);
}

.font2 {
    font-family: monospace;
    color: red;
}

.font3 {
    font-family: serif;
    color: green;
}

.homepage{
    text-align: center;
}

.index {
    font-size: 24px;
}

.idx_div {
    margin: 0 auto;
    width: 600px;
}

.index li {
    display: inline-block;
    background-color: rgb(169, 192, 35);
    padding: 8px;
    font-size: 30px
}