.font1 {
    font-family: fantasy;
    color: rgb(142, 142, 4);
}

.font2 {
    font-family: monospace;
    color: red;
}

.font3 {
    font-family: serif;
    color: green;
}

.homepage{
    text-align: center;
}

.index {
    font-size: 24px;
}